.content {
  background: color(white);
  box-shadow: $base-shadow;
  border-radius: 10px;
  overflow: hidden;

  &__item {
    position: relative;
    padding: rem(15);
    display: block;
    text-decoration: none;
    color: color(dark);
    cursor: pointer;
    transition: background 300ms ease-in-out;

    @include min-width(bp(s)) {
      padding: rem(30) 0;
    }

    &:hover {
      background: linear-gradient(rgba(color(gradient-start), 0.05), rgba(color(gradient-end), 0.05));

      .content__external {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1.1);
      }
    }

    &:first-of-type {
      @include min-width(bp(s)) {
        padding-top: rem(20);
      }
    }

    &:last-of-type {
      @include min-width(bp(s)) {
        padding-bottom: rem(20);
      }
    }
  }

  &__info {
    &:hover {
      &:after {
        background: transparent;
      }
    }

    &:after {
      position: absolute;
      bottom: 0;
      right: 0;
      width: calc(100% - 15px);
      background: #f4f4f4;
      height: 1px;
      content: "";

      @include min-width(bp(s)) {
        width: calc(100% - 70px);
      }
    }
  }

  &__title {
    font-size: 0;
    padding-right: rem(20);
    display: inline-block;
    vertical-align: middle;

    @include min-width(bp(s)) {
      width: 80%;
    }

    span {
      font-size: 16px;

      @include min-width(bp(s)) {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  &__icon {
    display: none;

    @include min-width(bp(s)) {
      margin-left: rem(15);
      margin-right: rem(15);
      width: rem(30);
      height: rem(30);
      transition: transform 300ms ease-in-out;
      display: inline-block;
      vertical-align: top;
    }
  }

  &__time {
    display: block;
    color: #C7C7C7;
    width: 100%;
    font-size: 14px;
    font-weight: font-weight(bold);

    @include min-width(bp(s)) {
      margin-left: rem(65);
    }
  }

  &__external {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: rem(40);
    height: rem(40);
    background: color(white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    box-shadow: $base-shadow;
    opacity: 0;
    transform: translate3d(10px, 0, 0) scale(0.8);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;

    svg {
      width: rem(20);
      height: rem(20);
    }
  }
}
